--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
python-dotenv
torch
langchain
langchain-community
langchain-huggingface
sentence-transformers
chromadb
pypdf